{% extends "base.html" %}
{% block contenido%}
  <img class="grid-50 mobile-grid-50" src="img/flowers-621893_1280.jpg">
  <img class="grid-50 mobile-grid-50" src="img/flower-arrangement-623464_1280.jpg">
  <img class="grid-50 mobile-grid-50" src="img/flower-vase-438461_1280.jpg">
  <img class="grid-50 mobile-grid-50" src="img/wedding-13859_640.jpg">
{% endblock %}
{% block article %}
  <article class="texto-home grid-20 mobile-grid-50">
  <header class="titulo-home">{{ info.titulo }}</header>
    <span class="decoracion-home">···</span>
    <p class="contenido-texto-home">
      {{ info.descripcion }}
    </p>
    </article>
{% endblock %}
