{% extends "base.html" %}
{% block contenido%}
  <img class="grid-50 mobile-grid-50" src="img/mercedes-289994_1280.jpg">
  <img class="grid-50 mobile-grid-50" src="img/table-decoration-770931_1280.jpg">
{% endblock %}
{% block article %}
		<section class="articulo">
			<article class="grid-100 mobile-grid-50">
				<header>
					Misión
				</header>
				<p>
          {{ info.mision }}
				</p>
			</article>
			<article class="grid-100 mobile-grid-50">
				<header>
					Visión
				</header>
				<p>
          {{ info.vision }}
				</p>
			</article>
			<article class="grid-100 mobile-grid-50">
				<header>
					Valores Corporativos
				</header>
				<div class="grid-100 mobile-grid-50 valores-corporativos">
					<img src="img/valores.jpg" style="height:70%; width:50%;">
				</div>
			</article>
    </section>
{% endblock %}
