{% extends "base.html" %}
{% block contenido%}
  <img class="grid-50 mobile-grid-50" src="img/mercedes-289994_1280.jpg">
  <img class="grid-50 mobile-grid-50" src="img/table-decoration-770931_1280.jpg">
{% endblock %}
{% block article %}
		<section class="articulo">
			<article class="grid-100 mobile-grid-50">
				<header>
					Misión
				</header>
				<p>
					Somos una Floristería dedicada a la comercialización y venta a nivel nacional de todo tipo flores para diferentes ocasiones y eventos que poseen altos estándares de calidad, teniendo en cuenta la innovación y el diseño como los principales agentes de cambio, brindando un excelente servicio a nuestro clientes logramos mantener su satisfacción y fidelización alcanzando así  una sostenibilidad y con ello una permanencia en el mercado.
				</p>
			</article>
			<article class="grid-100 mobile-grid-50">
				<header>
					Visión
				</header>
				<p>
					Esperamos ser una Floristería líder en el mercado por nuestra atención del cliente, caracterizándonos por la excelencia de nuestros productos y la constante innovación en nuestros diseños, buscando de esta forma mantener a nuestros clientes satisfechos y con ello ser altamente competitivos.
				</p>
			</article>
			<article class="grid-100 mobile-grid-50">
				<header>
					Valores Corporativos
				</header>
				<div class="grid-100 mobile-grid-50 valores-corporativos">
					<img src="img/valores.jpg" style="height:70%; width:50%;">
				</div>
			</article>
    </section>
{% endblock %}
